.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 700px;
  height: 500px;
  position: relative;
}

.container h1 {
  padding: 10px;
}

.buttons {
  position: absolute;
  bottom: 20px;
}

.error {
  margin-top: 50px;
  color: #ecc54c;
}

.inputs {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.eachInput {
  display: flex;
  flex-direction: row;
}
