* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #0b3754;
  min-height: 100vh;
  color: #fff;
  position: relative;
}

.author {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #ecc54c;
}

@media (max-width: 500px) {
  .author {
    font-size: 20px;
  }
}
