.eachInput {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.line {
  display: block;
  width: 130px;
  font-size: 35px;
  text-transform: capitalize;
}

@media (max-width: 500px) {
  .line {
    font-size: 25px;
    width: 100px;
  }
}
