.header {
  display: flex;
  justify-content: start;
  text-align: center;
  align-items: flex-end;
  padding: 10px;
}

.title {
  font-size: 35px;
  margin: 0 0 0 -45px;
  color: #ecc54c;
}

.headerPicture {
  width: 150px;
}

@media (max-width: 500px) {
  .header {
    justify-content: center;
  }
  .title {
    font-size: 30px;
    margin: 0 auto;
  }
  .headerPicture {
    display: none;
  }
}

@media (max-width: 1200px) {
  .header {
    justify-content: center;
  }
  .title {
    font-size: 30px;
    margin: 0 0 0 -25px;
  }
  .headerPicture {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .title {
    margin: 0;
  }
}
