.input {
  width: 200px;
  font-size: 25px;
  border-radius: 20px;
  padding-left: 5px;
}
.lines {
  width: 400px;
  font-size: 25px;
  background-color: #20587d;
  color: #fff;
}
.input:focus,
.lines:focus {
  outline: none;
}

.input:disabled,
.input:disabled {
  cursor: not-allowed;
}

@media (max-width: 1200px) {
  .input {
    margin-left: 20px;
    font-size: 30px;
    width: 300px;
  }
  .lines {
    width: 400px;
    font-size: 25px;
    background-color: #20587d;
    color: #fff;
  }
}

@media (max-width: 500px) {
  .input {
    font-size: 20px;
    width: 220px;
    margin: 0 auto;
  }
  .lines {
    width: 200px;
    font-size: 15px;
    background-color: #20587d;
    color: #fff;
  }
}
